<div class="alert alert-danger text-center" role="alert">{{ 'discutea.forum.warning.preview'|trans }}</div>

<li id="post-preview" class="list-group-item topics">
  <div class="row">
    <div class="col-sm-2 text-center">
      <p><strong>{{ postpreview.poster.username }}</strong></p>
    </div>
    <div class="col-sm-10">
      <div class="raw">
        <span class="small">{{ 'discutea.forum.on'|trans }} {{ postpreview.date|date("Y-m-d H:i:s") }}</span>
        <br /><br />
      </div>
              
        <div class="raw">{{ postpreview.content }}</div>

    </div>
  </div>
</li>
