{% extends "DForumBundle::layout.html.twig" %}

{% block title %}new category{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<hr />
<div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading">{{ 'discutea.forum.forum.form.deletetitle'|trans }}</div>
    <div class="panel-body">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="form-group col-md-12">
          {{ form_label(form.movedTo, 'discutea.forum.forum.form.movedto') }}
          {{ form_widget(form.movedTo, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="checkbox col-md-12">
        {{ form_widget(form.purge) }}
          {{ form_label(form.purge, 'discutea.forum.forum.form.purge') }}
          
      </div>
          
      <div class="form-group col-md-12">
        <br /><br />
        <button type="submit" class="btn btn-danger btn-sm">{{ 'discutea.forum.btn.submit'|trans }}</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
<div class="clearfix"></div>
 
{% endblock %}

{% block js %}{% endblock %}
