{% if content is defined  %}
    {{ content|bbcode_filter('forum') }}
{% else %}
    <div class="raw">
      {{ form_start(form, {"action":path('discutea_forum_post_edit', {'id': post.id})}) }}
      {{ form_widget(form.content) }}
      <div class="form-group">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary">{{ 'discutea.forum.btn.submit'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
      <div class="clearfix"></div>
{% endif %}
