{{ form_start(form, {'attr': {'id': 'discutea_forum_post'}}) }}
    <div class="form-group">
      {{ form_label(form.content) }}
      {{ form_widget(form.content, {'attr': {'class': 'form-control', 'rows': 16}}) }}
    </div>
    <div class="form-group">
      <div class="pull-right">
        {% if form.preview is defined %}
        {{ form_widget(form.preview, {'attr': {'class': 'btn btn-default btn-sm'}}) }}
        {% endif %}
        <button type="submit" class="btn btn-primary">{{ 'discutea.forum.btn.submit'|trans }}</button>
      </div>
    </div>
{{ form_end(form) }}
