{% extends "DForumBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
      <br /> 
    <div class="col-xs-12">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      <div class="form-group">
      {{ form_label(form.title) }}
      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
        {{ form_label(form.forum) }}
        {{ form_widget(form.forum, {'attr': {'class': 'form-control'}}) }}
      </div>
    <div class="form-group">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">{{ 'discutea.forum.btn.submit'|trans }}</button>
      </div>
    </div>
      {{ form_end(form) }}
    </div> </div>
{% endblock %}
